<div class="row">
  <div class="col-md-12">
    <h3>Report</h3>
    <p><strong>Start Date:</strong> <%= @report.start_date %></p>
    <p><strong>End Date:</strong> <%= @report.end_date %></p>
    <p><strong>Max:</strong> <%= @report.maximum %> mg/dl</p>
    <p><strong>Min:</strong> <%= @report.minimum %> mg/dl</p>
    <p><strong>Average:</strong> <%= @report.average %> mg/dl</p>
  </div>
</div>
